@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';
@import './utils/placeholder';

@import './base/base';
@import './base/typography';

@import './components/buttons';


@import './layout/header';
@import './layout/nav';
@import './layout/container';
@import './layout/form';
@import './layout/footer';

@import './pages/work';
@import './pages/about';
@import './pages/project';


body{
    width: 100%;
    height: 100%;
}
//header et bg
header{
    height: 140vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    
}


.img-bg{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
    
    
    
   
}



//nav bar

.navbar{
    height: 10%;
    width: 100%;
    
   
}
.navbar-brand{
    position: relative;
    left: 5%;
    text-decoration: none;
    color: $color-orange;
    font-weight: bold;
    &:hover{
        color: $color-black;
        font-size: 4rem;

    }
    
}

.navbar-nav{
    position: relative;
    left: 12%;
    .nav-link{
        color: $color-black;
        text-decoration: none;
        font-size: .9rem;
        &:hover{
            font-size: 1.1rem;
            color: $color-orange;
        }
    }
}
.d-flex{
    position: relative;
    right: 15%;
    cursor: pointer;
    .form-control{
        border: none;
        font-size: .9rem;
    }
    .btn{   
    position: absolute;
    font-size: 1rem;
    color: $color-secondary;
    top:-4px;
    left:100%;
    }
}

.small-icons{
    position: relative;
    right: 5%;
    i{
        font-size: 1rem;
    }
    
}

ul li {
    margin: 0 .5rem;
    
}

//contain du header
//left
.contain{
    
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    .containLeft{
        padding: 3rem;
        //margin-bottom: 13rem;
        
        ul li {
            list-style-type: none;
            padding: 1rem;
            
            font-size: 1.6rem;
            margin-left: 3rem;
            a{
                color: $color-secondary;
                &:hover{
                    color: $color-orange;
                    font-size: 2rem;
                }
            }

        }
    }
}
//middle

.contain{
    .containMiddle{
        padding: 0rem;
        //margin-bottom: 13rem;
        .firstTitle{
            font-size: 10rem;
            color: $color-white;
        }
        a{
            color:$color-white;
            margin-left: 8rem;
            font-size: 1.3rem;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                //color: $color-orange;
                font-size: 2.5rem;
            }
        }
    }
}

//right
.contain{
    
    .containRight{
        padding: 0rem;
        margin-right: 2rem;
        //margin-bottom: 13rem;
         .firstWord {
            font-size: 1rem;
            opacity: .5;
            text-decoration: none;
            color: $color-black;
            display: block;

            &:hover{
                font-size: 2.5rem;
                opacity: 1;
                color: $color-orange;
            }
            
        

        }
        .lastWord{
            font-size: 2rem;
            color: $color-black;
            opacity: 0.5;
            text-decoration: none;

            &:hover{
                font-size: 1.3rem;
                opacity: 1;
                color: $color-orange;
            }
        }
          .up{
            &:hover{
                font-size: 3.3rem;
                
            }
        }
    }
}
hr{
    width: 75%;
    display: inline-block;
    position: relative;
    top: 0;
    left: 4rem;
}


//start last section header

.contSecThree .wor .col{
    width: 33%;
    
    
    
}
 .col1{
     background-image: url(/photos-homeDesktop/banner_h1_1.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-color: lightgray;
     height: 37rem;
     
 }
  
.col2{
    background-image: url(/photos-homeDesktop/banner_h1_2.jpg);
    background-position: center;
    height: 37rem;
}
.col3{
    background-image: url(/photos-homeDesktop/banner_h1_3.jpg);
    background-repeat: no-repeat;
    background-color: lightgray;
    height: 37rem;
}
//hack image

.img3{
    opacity: 0;
}
.wor .col1 .stock1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-right: 18rem;
    p{
        //opacity: 0.5;
        color: $color-secondary;
        font-size: 1.3rem;
        margin-left: 13rem;
    }
    h2{
        font-size: 5rem;
    }
    a{
        color: $color-secondary;
        font-size: 1.4rem;
        margin-top: 6rem;
        position: relative;
        left: 13rem;
    }

}
h2 span {
    margin-left: 2.1rem;
}
.wor .col1 {
    &:hover{
        background-image: url(/photos-homeDesktop/banner_h1_2.jpg);
        background-position: center;
        
        color: $color-white;
        a{
            color: $color-white;
            margin-right: 7rem;
            margin-bottom: 6rem;
            position: relative;
            bottom: 3rem;
        }

        h2{
            margin-left: 18rem;
            font-size: 4rem;
        }
        p{
            font-size: 1.3rem;
            color: $color-white;
            position : relative; 
            top: 0;
            left: 3rem;
            bottom: 0;
        }
        
    }
}

//start col2 texte dans imge!!

.wor .col2 .stock2{
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    margin-right: 18rem;
    p{
        //opacity: 0.5;
        color: $color-white;
        font-size: 1.3rem;
        margin-left: 18rem;
    }
    h2{
        margin-left: 19rem;
        font-size: 4rem;
        color: $color-white;
    }
    a{
        color: $color-white;
        font-size: 1.4rem;
        margin-top: 3rem;
        position: relative;
        left: 10rem;
    }
    
}
.wor .col2{
    &:hover{
        
            background-image: url(/photos-homeDesktop/banner_h1_1.jpg);
            background-position: center;
            

            p{
                color: $color-secondary;
                
            }
            h2{
                font-size: 5rem ;
                color: $color-black;
                margin-right: 13rem;
            }
            a{
                color: $color-secondary;
                margin-top: 6rem;
                margin-left: 7rem;
            }
            
        }
    }

    /* start col3 texte */

    .col3 .stock3{
        padding: 7rem;
        display: flex;
        flex-direction: column;
        margin-left: 12rem;
        p{
            margin-left: 10rem;
            color: $color-secondary;
            font-size: 1.3rem;
            transition-duration: 1s;
            transition-property: transform;
            &:hover{
                transform: scale(2);
            }
        }
        h2{
            margin-left: 3rem;
            font-size: 4rem;
            margin-top: 3rem;
            transition-duration: 1s;
            transition-property: transform;
            &:hover{
                transform: rotate(360deg);
            }
        }
        a{
            color: $color-secondary;
            font-size: 1.2rem;
            margin-left: 10rem;
            margin-top: 4rem;
            transition-duration: 1s;
            transition-property: transform;
            &:hover{
                transform:scale(2.2) translateX(-50px) ;
                color: $color-black;
                
            }
        }
        
    }
    //end header!!!
   //start first section

   .box-titre{
       display: block;
       height: auto;
       width: 100%;
       margin-top: 20rem;
       //background: red;
       h1{
          margin-left: 30rem;
       }
       p{
           margin-left: 30.2rem;
           color: $color-secondary;
       }
   }

   .box-firstSec{
       height: auto;
       width: 100%;
       margin-top: 3rem;
       //background-color:yellow;
       .bagImg{
           display: inline-block;
           margin-left: 30rem;
           height: 20rem;
           width: 20rem;
           background-image: url(/photos-homeDesktop/bsl1.jpg);
           background-position: center;
           background-size: contain;
           position: relative;
           bottom: 0rem;
           top: 2rem;
           
       }
       .txtBag{
           height: 60rem;
           margin-left: 4rem;
           //background-color: red;
           p{
               position: absolute;
               left: 3rem;
               right: 0;
               top: 18rem;
                .titleBag{
                   font-size: 1.8rem;
                   font-weight: bold;
                }
                .priceBag{
                    opacity: .5;
                    color: $color-secondary;
                    transition-property: transform;
                    transition-duration: 1s;
                    &:hover{
                        font-size: 2.5rem;
                        color: $color-orange;
                    }
                    
                }
                a{
                    color: $color-black;
                    &:hover{
                        color: $color-orange;
                        text-decoration: none;
                    }
                }
            }
        }
        
                   
   }

   .img2sec1{
       display: inline-block;
       height: 35rem;
       width: 35rem;
       background-image: url(/photos-homeDesktop/bsl2.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
       margin-left: 20rem;
       position: relative;
       top: o;
       bottom: 6rem;
       p{
           display: flex;
           flex-direction: column;
           position: relative;
           top: 3rem;
           right: 5rem;
           .titleBag{
               font-size: 2.4rem;
               font-weight: bold;
           }
           .priceBag{
            opacity: .5;
            color: $color-secondary;
            
            &:hover{
                font-size: 2.5rem;
                color: $color-orange;
            }
           }
           
            a{
                color: $color-black;
                &:hover{
                    color: $color-orange;
                    text-decoration: none;
                }
            }
           
           
       }
       
       
   }

   //start 2 SECTION

   .contain2sec{
       width: 100%;
       height: auto;
       //background-color: green;

       .img1sec2{
           background-image: url(/photos-homeDesktop/bsl3.jpg);
           width: 38rem;
           height: 38rem;
           display: inline-block;
           background-size: contain;
           background-position: center;
           margin-left: 29rem;
           position: relative;
           p{
               display: flex;
               flex-direction: column;
               position: absolute;
               top: 5rem;
               left: -7rem;
               .titleBag{
                   font-size: 2.5rem;
                   font-weight: bold;
               }
               .priceBag{
                opacity: .5;
                color: $color-secondary;
                
                &:hover{
                    font-size: 2.5rem;
                    color: $color-orange;
                }
                
                
            }
            a{
                color: $color-black;
                &:hover{
                    color: $color-orange;
                    text-decoration: none;
                }
            }
        }
                    
            
        }
        .img2sec2{
            width: 20rem;
            height: 20rem;
            display: inline-block;
            background-image: url(/photos-homeDesktop/bsl4.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 13rem;
            margin-left: 23rem;
            position: relative;
            
            p{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 18rem;
                left: 2rem;
                .titleBag{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                .priceBag{
                    opacity: .5;
                    color: $color-secondary;
                    &:hover{
                        color: $color-orange;
                        font-size: 2.5rem;
                    }
                    
                }
                a{
                
                    color: $color-black;
                    &:hover{
                        color: $color-orange;
                        text-decoration: none;
                    }
                }
            }
        }
    }
             //end 2section 
             //start sec3title

.box-sec3title{
    width: 100%;
    height: 150px;
    //background-color: orange;
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .sec3title{
        p{
            color: $color-secondary;
        }
    }
    .choice{
        a{
         display: inline-block;
         padding: 1.2rem;
         font-size: 1.3rem;
         opacity: 0.5;
         text-decoration: none;
         color: $color-black;
         &:hover{
             font-size: 1.5rem;
             opacity: 1;

         }
        }
    }
}
//end sect3 title
//start first sec3 3img

.firstcontain3img{
    width: 100%;
    height: 35rem;
    //background-color: crimson;
    display: flex;
    justify-content: space-around;
    .firstimg{
        background-image: url(/photos-homeDesktop/prd_05_1_2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20rem;
        height: 25rem;
        p{
            margin-top: 25rem;
            margin-left: 2.5rem;
            .title{
                font-size: large;
            }
            .icon{
                margin-left: 4.5rem;
            }
            .clr{
                color: $color-orange;
                
            }
            .price{
                color: $color-secondary;
                margin-left: 6rem;
                &:hover{
                    font-size: 1.5rem;
                    color: $color-orange;
                }
            }
        }
    }
    .secondimg{
        background-image: url(/photos-homeDesktop/sec4img2.png);
        background-position: center;
        background-size: cover;
        width: 20rem;
        height: 25rem;
        p{
            margin-top: 25rem;
            margin-left: 2.5rem;
            .title{
                font-size: large;
                .t-shirt{
                    margin-left: 5rem;
                }
            }
            .icon{
                margin-left: 4.5rem;
            }
            .clr{
                color: $color-orange;
            }
            .price{
                color: $color-secondary;
                margin-left: 6rem;
                &:hover{
                    font-size: 1.5rem;
                    color: $color-orange;
            }
        }

    }
    }
}
.thirdimg
{
    background-image: url(/photos-homeDesktop/sec4img3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 25rem;
    p{
        margin-top: 25rem;
        margin-left: 2.5rem;
        .title{
            font-size: large;
            .t-shirt{
                margin-left: 5rem;
            }
        }
        .icon{
            margin-left: 4.5rem;
        }
        .clr{
            color: $color-orange;
        }
        .price{
            color: $color-secondary;
            margin-left: 6rem;
            &:hover{
                font-size: 1.5rem;
                color: $color-orange;
        }
    }

}
}
//end first sec 3img

//start seconde sec 3 img

.secondecontain3img{
    width: 100%;
    height: 35rem;
    //background-color: crimson;
    display: flex;
    justify-content: space-around;
    .firstimg{
        background-image: url(/photos-homeDesktop/sec5img1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20rem;
        height: 25rem;
        p{
            margin-top: 25rem;
            margin-left: 2.5rem;
            .title{
                font-size: large;
                margin-left: 2rem;
            
            }
            .icon{
                margin-left: 4.5rem;
            }
            .clr{
                color: $color-orange;
            }
            .price{
                color: $color-secondary;
                margin-left: 6rem;
                &:hover{
                    font-size: 1.5rem;
                    color: $color-orange;
                }
            }
        }
    }
    .secondimg{
        background-image: url(/photos-homeDesktop/sec5img2.png);
        background-position: center;
        background-size: cover;
        width: 20rem;
        height: 25rem;
        p{
            margin-top: 25rem;
            margin-left: 2.5rem;
            .title{
                font-size: large;
                margin-left: 1.5rem;
                .pousse{
                    margin-left: 4rem;
                }
            }
            .icon{
                margin-left: 4.5rem;
            }
            .clr{
                color: $color-orange;
            }
            .price{
                color: $color-secondary;
                margin-left: 6rem;
                &:hover{
                    color: $color-orange;
                    font-size: 1.5rem;
                }
            }
            
        }
    }
    .thirdimgsec2{
        background-image: url(/photos-homeDesktop/sec5img3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 20rem;
        height: 25rem;
        p{
            margin-top: 25rem;
            margin-left: 4rem;
            .title{
                font-size: large;
                .pousse{
                    margin-left: 5rem;
                }
                
            }
            

            .icon{
                margin-left: 4.5rem;
            }
            .clr{
                color: $color-orange;
            }
            .price{
                color: $color-secondary;
                margin-left: 6rem;
                &:hover{
                    font-size: 1.5rem;
                    color: $color-orange;
                }
            }
        }

    }
}

//end section 2 3 img

//start section Discover more 

.containLink{
    width: 100%;
    height:5rem;
    padding: 7rem;
    //background-color:yellow;
    .link{
        text-align: center;
        position: relative;
        a{
            color: $color-black;
            text-decoration: underline double;
            font-size: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:hover{
                font-weight: bold;
                color: $color-orange;
                font-size: 2.3rem;
            }
        }
    }
}

//end containLink

//start contain Evenement

.containEvent{
    width: 100%;
    height: 50rem;
    //background-color: purple;
    margin-top: 1rem;
    .imgEvent{
        width: 100%;
        height: 100%;
        background-image: url(/photos-homeDesktop/deals_image.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        .condiEvent{
            height: 100%;
            width: 55rem;
            //background-color: salmon;
            margin-left: 20rem;
            .entete{
                display: inline-block;
                margin-top: 7rem;
                margin-left: 8rem;
                .annonce{
                    color: $color-secondary;
                    font-size: 1.6rem;
                    letter-spacing: .2rem;
                }
                .title{
                    font-size: 3.5rem;
                }
                .pricebarrer{
                    font-size: 1.4rem;
                    text-decoration: line-through;
                    opacity: .5;
                }
                .price{
                    font-size: 1.6rem;
                    color: $color-black;
                    &:hover{
                        color: $color-orange;
                        font-size: 2rem;
                    }
                    
                }
                .btnn{
                    text-decoration: none;
                    color: black;
                    background-color: transparent;
                    border-radius: .5rem;
                    border: 1px solid red ;
                    &:hover{
                        background-color: red;
                        color: $color-white;
                    }
                    
                }
                //end sect entete
   
                //start sect day and link
                
            }
            .day-link{
                width:75%;
                height: 50%;
                //background-color: red ;
                margin-top: 3rem;
                margin-left: 8rem;
                .contain4{
                    display: flex;
                    justify-content: space-between
                    ;
                    padding-left: 2rem;
                    background-color: $color-white;
                   
                    .box{
                        padding: 2rem;
                        margin-right: 2rem;
                        p{
                            vertical-align: middle;
                        }
                        
                        .nbrs{
                            font-size: 1.6rem;
                            text-transform: uppercase;
                            color: $color-black;
                        }
                        .wrds{
                            color: $color-secondary;
                            font-size: .8rem;
                            &:hover{
                                color: $color-orange;
                                font-size: 1.2rem;
                            }
                        }
                        
                    }
                }
                .linkShow {
                    margin-top: 4.5rem;
                    a{
                        color: $color-black;
                        text-decoration: underline double;
                        font-size: 1.3rem;
                        margin-top: 5rem;
                        &:hover{
                            color: $color-orange;
                            font-size: 1.8rem;
                        }

                    }
                }
            }
        }
    }
}   

// fin section Event

//start section latest New

.containLatest{
    width: 100%;
    height: auto;
    //background: pink;
    margin-top: 8rem;
    .titleLatest{
        display: flex;
        justify-content: space-around;
        p{
            color: $color-secondary;
            &:hover{
                font-size: 1.4rem;
                color: $color-orange;
            }
        }
        a{
            color: $color-black;
            font-size: 1.3rem;
            text-decoration: underline ;
            display: inline-block;
            margin-top: 3rem;
            text-transform: uppercase;
            &:hover{
                color: $color-orange;
                text-decoration: underline double $color-black;
            }
        }
    }
}
  //end section titre Latest news
  
  //start section img latest news

  .contain3img{
      height: 35rem;
      width: 100%;
      //background-color: orange;
      margin-top: 3rem;
      display: flex;
      justify-content: space-around;
      .firstImg{
          width: 40rem;
          height: 25rem;
          background-image: url(/photos-homeDesktop/blog1.jpg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          .txt{
              margin-top: 25rem;
              margin-left: 5rem;
          }
          p{
              color: $color-secondary;
              font-size: 1rem;
          }
          span{
              text-transform: uppercase;
              color: $color-orange;
              font-size: 1.3rem;
          }
          a{
              color: $color-black;
              text-transform: uppercase;
              &:hover{
                  color: $color-orange;
                  text-decoration: underline double $color-black;
              }
          }
      }
      .twoImg{
        width: 40rem;
        height: 25rem;
        background-image: url(/photos-homeDesktop/blog2.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        .txt2{
            margin-top: 25rem;
            margin-left: 5rem;
        }
        p{
            color: $color-secondary;
            font-size: 1rem;
        }
        span{
            text-transform: uppercase;
            color: $color-orange;
            font-size: 1.3rem;
        }
        a{
            color: $color-black;
            text-transform: uppercase;
            &:hover{
                color: $color-orange;
                  text-decoration: underline double $color-black;
            }
        }
      }
      .thirdImg{
        width: 40rem;
        height: 25rem;
        background-image: url(/photos-homeDesktop/blog3.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        .txt3{
            margin-top: 25rem;
            margin-left: 5rem;
            p{
                color: $color-secondary;
                font-size: 1rem;
            }
            span{
            text-transform: uppercase;
            color: $color-orange;
            font-size: 1.3rem;
            }
            a{
            color: $color-black;
            text-transform: uppercase;
            &:hover{
                color: $color-orange;
                  text-decoration: underline double $color-black;
            }
            }
        }
      }
  }

//end section Latest News

//start section Keep Connected

.containTitleKeep{
    width: 70%;
    height: 10rem;
    //background-color: palegreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20rem;
    margin-top: 5rem;
    .titleKeep{
        h1{
            margin-top: 3rem;
        }
        p{
            color: $color-secondary;

        }
    }
    .email {
        a{
            display: inline-block;
            margin-top: 3rem;
            color: $color-secondary;
            font-size: 1.5rem;
            &:hover{
                color: $color-orange;
                font-size: 2rem;
            }
        }
        
    }
    .subscribe{
        display: inline-block;
        margin-top: 3rem;
        a{
            color: $color-black;
            text-decoration: none;
            font-size: 1.5rem;
            &:hover{
                font-size: 2rem;
                color: $color-orange;
            }
        }

    }
    
}
//end section tiltle 

//start section seven image

.containImg{
    width: 100%;
    height: 23rem;
    background-color: powderblue;
    display: flex;
    margin-top: 3rem;
    .img{
        
        width: 20.5rem;
        height: 23rem;
        background-color: rebeccapurple;
        //border: 1px solid black ;
    }
    .img1{
        background-image: url(/photos-homeDesktop/blog6_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }

    }
    .img2{
        background-image: url(/photos-homeDesktop/blog4_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
    .img3{
        background-image: url(/photos-homeDesktop/bsl4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
    .img4{
        background-image: url(/photos-homeDesktop/blog5_1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
    .img5{
        background-image: url(/photos-homeDesktop/prd_06_1_2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
    .img6{
        background-image: url(/photos-homeDesktop/latest2_1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
    .img7{
        background-image: url(/photos-homeDesktop/sec5img3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
}
    //end section 7 img

    // start footer

    .footer_title{
        font-weight: 600;
        }
        .footer_items{
        color:$color-secondary;
        }
        .grayline{
        color:$color-secondary;
        }



     //test menu hamburger base

     
         .boxMenu{
             height: 2rem;
             width: 2rem;
             background-color: transparent;
             
             
             .contLignes{
                 width: 2rem;
                 height: 2rem;
                 cursor: pointer;
                 position: relative;
                 
                 .lignes{
                     width: 60%;
                     height: .2rem;
                     border-radius: .5rem;
                     background-color: $color-secondary;
                     position: absolute;
                     transition: all .5s ease-in-out;
                     &:nth-child(1){
                         top: 0rem;
                     }
                     &:nth-child(2){
                        top: 0.5rem;
                    }
                    &:nth-child(3){
                        top: 1rem;
                    }
                 }
             }
         }
     
     //debut animation bouton
     .btnnn.active {
         .lignes{
            &:nth-child(1){
                
                transform: translateY(10px)  rotate(135deg);
                
            }
            &:nth-child(2){
                
                
                opacity: 0;
            }
            &:nth-child(3){
                
                
                transform: translateY(0rem) rotate(-135deg);
                
                
            }
         }
     }
     
     //menu defilement test

     .menuDefi{
         position: fixed;
         right: 0;
         padding: 0 3rem;
         background-color: $color-black;
         width: 20%;
         height: 100%;

         transition: transform .6s ease-in-out;
         -webkit-transition: transform .6s ease-in-out;
         transform: translateX(100%);
         -webkit-transform: translateX(100%);
         &.isOpen{
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
         }
         

         ul{
             position: absolute;
             top: 40%;
             left: 50%;
             transform: translate(-50%, -50%);
             

            li{
                margin: 2rem 0;
                list-style-type: none;

                a{
                    color: $color-white;
                    text-transform: uppercase;
                    font-size: 2rem;
                    text-decoration: none;
                    
                }

            }

         }
     }

     

    //START RESPONSIVE!!!!!!