* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.navbar {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid #f2ede9; }

.navbar-brand {
  position: relative;
  left: 5%;
  text-decoration: none;
  color: #222;
  font-weight: bold; }

.navbar-nav {
  position: relative;
  left: 12%; }
  .navbar-nav .nav-link {
    color: #222;
    text-decoration: none;
    font-size: .9rem; }

.d-flex {
  position: relative;
  right: 15%;
  cursor: pointer; }
  .d-flex .form-control {
    border: none;
    font-size: .9rem; }
  .d-flex .btn {
    position: absolute;
    font-size: 1rem;
    color: #999;
    top: -4px;
    left: 100%; }

.small-icons {
  position: relative;
  right: 5%; }
  .small-icons i {
    font-size: 1rem; }

/*add change hsia*/
.fa-tag {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.pinktext {
  color: #f68773; }

.tags {
  font-size: 30px; }

.bold_title {
  font-weight: 800;
  font-size: 17px; }

.graytext {
  color: #999; }

.member {
  font-weight: 500;
  font-size: 20px; }

.sponsor {
  opacity: 50%;
  background-color: #f1efef; }
  .sponsor :hover {
    opacity: 100%; }

.manikin {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  color: white; }

.workhard {
  font-size: 25px; }

.nodrama {
  font-size: 60px;
  font-weight: 900; }

.playbutton {
  font-size: 80px; }

.line {
  width: 50px; }

img:hover {
  filter: drop-shadow(5px 5px 10px #b1afaf); }

.spin {
  transition-duration: 1s; }
  .spin :hover {
    transform: rotate(180deg); }

#bkgd {
  height: 500px;
  background-image: url(/img_about/video-img.jpeg);
  background-position: center;
  /*pour footer*/ }
  #bkgd div {
    transition: all 1s;
    color: white; }
  #bkgd div:nth-child(2) {
    transition-delay: .3s; }
  #bkgd div:nth-child(3) {
    transition-delay: .6s; }
  #bkgd:hover div {
    color: red; }
  #bkgd .footer_title {
    font-weight: 600; }
  #bkgd .footer_items {
    color: #999; }
  #bkgd .grayline {
    color: #999; }
  #bkgd .credit {
    color: #999;
    text-decoration: none; }
    #bkgd .credit span {
      font-weight: 500;
      transition: all .5s;
      border-bottom: 1px solid;
      font-size: 18px; }
    #bkgd .credit span:nth-child(2) {
      transition-delay: .1s; }
    #bkgd .credit span:nth-child(3) {
      transition-delay: .2s; }
    #bkgd .credit span:nth-child(4) {
      transition-delay: .3s; }
    #bkgd .credit span:nth-child(5) {
      transition-delay: .4s; }
    #bkgd .credit span:nth-child(6) {
      transition-delay: .5s; }
    #bkgd .credit span:nth-child(7) {
      transition-delay: .6s; }
    #bkgd .credit span:nth-child(8) {
      transition-delay: .7s; }
    #bkgd .credit span:nth-child(9) {
      transition-delay: .8s; }
    #bkgd .credit span:nth-child(10) {
      transition-delay: .9s; }
    #bkgd .credit span:nth-child(11) {
      transition-delay: 1s; }
    #bkgd .credit span:nth-child(12) {
      transition-delay: 1.1s; }
    #bkgd .credit span:nth-child(13) {
      transition-delay: 1.2s; }
    #bkgd .credit span:nth-child(14) {
      transition-delay: 1.3s; }
    #bkgd .credit span:nth-child(15) {
      transition-delay: 1.4s; }
    #bkgd .credit:hover span {
      font-weight: 700;
      font-size: 23px;
      color: #222; }

/*# sourceMappingURL=style.css.map */