*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #F2EDE9;
}

body {
  width: 100%;
  height: 100%;
}

header {
  height: 140vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.img-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
}

.navbar {
  height: 10%;
  width: 100%;
}

.navbar-brand {
  position: relative;
  left: 5%;
  text-decoration: none;
  color: #f68773;
  font-weight: bold;
}
.navbar-brand:hover {
  color: black;
  font-size: 4rem;
}

.navbar-nav {
  position: relative;
  left: 12%;
}
.navbar-nav .nav-link {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}
.navbar-nav .nav-link:hover {
  font-size: 1.1rem;
  color: #f68773;
}

.d-flex {
  position: relative;
  right: 15%;
  cursor: pointer;
}
.d-flex .form-control {
  border: none;
  font-size: 0.9rem;
}
.d-flex .btn {
  position: absolute;
  font-size: 1rem;
  color: #999;
  top: -4px;
  left: 100%;
}

.small-icons {
  position: relative;
  right: 5%;
}
.small-icons i {
  font-size: 1rem;
}

ul li {
  margin: 0 0.5rem;
}

.contain {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contain .containLeft {
  padding: 3rem;
}
.contain .containLeft ul li {
  list-style-type: none;
  padding: 1rem;
  font-size: 1.6rem;
  margin-left: 3rem;
}
.contain .containLeft ul li a {
  color: #999;
}
.contain .containLeft ul li a:hover {
  color: #f68773;
  font-size: 2rem;
}

.contain .containMiddle {
  padding: 0rem;
}
.contain .containMiddle .firstTitle {
  font-size: 10rem;
  color: white;
}
.contain .containMiddle a {
  color: white;
  margin-left: 8rem;
  font-size: 1.3rem;
  text-decoration: none;
}
.contain .containMiddle a:hover {
  text-decoration: underline;
  font-size: 2.5rem;
}

.contain .containRight {
  padding: 0rem;
  margin-right: 2rem;
}
.contain .containRight .firstWord {
  font-size: 1rem;
  opacity: 0.5;
  text-decoration: none;
  color: black;
  display: block;
}
.contain .containRight .firstWord:hover {
  font-size: 2.5rem;
  opacity: 1;
  color: #f68773;
}
.contain .containRight .lastWord {
  font-size: 2rem;
  color: black;
  opacity: 0.5;
  text-decoration: none;
}
.contain .containRight .lastWord:hover {
  font-size: 1.3rem;
  opacity: 1;
  color: #f68773;
}
.contain .containRight .up:hover {
  font-size: 3.3rem;
}

hr {
  width: 75%;
  display: inline-block;
  position: relative;
  top: 0;
  left: 4rem;
}

.contSecThree .wor .col {
  width: 33%;
}

.col1 {
  background-image: url(/photos-homeDesktop/banner_h1_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgray;
  height: 37rem;
}

.col2 {
  background-image: url(/photos-homeDesktop/banner_h1_2.jpg);
  background-position: center;
  height: 37rem;
}

.col3 {
  background-image: url(/photos-homeDesktop/banner_h1_3.jpg);
  background-repeat: no-repeat;
  background-color: lightgray;
  height: 37rem;
}

.img3 {
  opacity: 0;
}

.wor .col1 .stock1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  margin-right: 18rem;
}
.wor .col1 .stock1 p {
  color: #999;
  font-size: 1.3rem;
  margin-left: 13rem;
}
.wor .col1 .stock1 h2 {
  font-size: 5rem;
}
.wor .col1 .stock1 a {
  color: #999;
  font-size: 1.4rem;
  margin-top: 6rem;
  position: relative;
  left: 13rem;
}

h2 span {
  margin-left: 2.1rem;
}

.wor .col1:hover {
  background-image: url(/photos-homeDesktop/banner_h1_2.jpg);
  background-position: center;
  color: white;
}
.wor .col1:hover a {
  color: white;
  margin-right: 7rem;
  margin-bottom: 6rem;
  position: relative;
  bottom: 3rem;
}
.wor .col1:hover h2 {
  margin-left: 18rem;
  font-size: 4rem;
}
.wor .col1:hover p {
  font-size: 1.3rem;
  color: white;
  position: relative;
  top: 0;
  left: 3rem;
  bottom: 0;
}

.wor .col2 .stock2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  margin-right: 18rem;
}
.wor .col2 .stock2 p {
  color: white;
  font-size: 1.3rem;
  margin-left: 18rem;
}
.wor .col2 .stock2 h2 {
  margin-left: 19rem;
  font-size: 4rem;
  color: white;
}
.wor .col2 .stock2 a {
  color: white;
  font-size: 1.4rem;
  margin-top: 3rem;
  position: relative;
  left: 10rem;
}

.wor .col2:hover {
  background-image: url(/photos-homeDesktop/banner_h1_1.jpg);
  background-position: center;
}
.wor .col2:hover p {
  color: #999;
}
.wor .col2:hover h2 {
  font-size: 5rem;
  color: black;
  margin-right: 13rem;
}
.wor .col2:hover a {
  color: #999;
  margin-top: 6rem;
  margin-left: 7rem;
}

/* start col3 texte */
.col3 .stock3 {
  padding: 7rem;
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
}
.col3 .stock3 p {
  margin-left: 10rem;
  color: #999;
  font-size: 1.3rem;
  transition-duration: 1s;
  transition-property: transform;
}
.col3 .stock3 p:hover {
  transform: scale(2);
}
.col3 .stock3 h2 {
  margin-left: 3rem;
  font-size: 4rem;
  margin-top: 3rem;
  transition-duration: 1s;
  transition-property: transform;
}
.col3 .stock3 h2:hover {
  transform: rotate(360deg);
}
.col3 .stock3 a {
  color: #999;
  font-size: 1.2rem;
  margin-left: 10rem;
  margin-top: 4rem;
  transition-duration: 1s;
  transition-property: transform;
}
.col3 .stock3 a:hover {
  transform: scale(2.2) translateX(-50px);
  color: black;
}

.box-titre {
  display: block;
  height: auto;
  width: 100%;
  margin-top: 20rem;
}
.box-titre h1 {
  margin-left: 30rem;
}
.box-titre p {
  margin-left: 30.2rem;
  color: #999;
}

.box-firstSec {
  height: auto;
  width: 100%;
  margin-top: 3rem;
  background-color: yellow;
}
.box-firstSec .bagImg {
  display: inline-block;
  margin-left: 30rem;
  height: 20rem;
  width: 20rem;
  background-image: url(/photos-homeDesktop/bsl1.jpg);
  background-position: center;
  background-size: contain;
  position: relative;
  bottom: 0rem;
  top: 2rem;
}
.box-firstSec .txtBag {
  height: 60rem;
  margin-left: 4rem;
}
.box-firstSec .txtBag p {
  position: absolute;
  left: 3rem;
  right: 0;
  top: 18rem;
}
.box-firstSec .txtBag p .titleBag {
  font-size: 1.8rem;
}
.box-firstSec .txtBag p .priceBag {
  opacity: 0.5;
  color: #999;
  transition-property: transform;
  transition-duration: 1s;
}
.box-firstSec .txtBag p .priceBag:hover {
  font-size: 2.5rem;
  color: #f68773;
}
.box-firstSec .txtBag p a {
  color: black;
}
.box-firstSec .txtBag p a:hover {
  color: #f68773;
}

.img2sec1 {
  display: inline-block;
  height: 35rem;
  width: 35rem;
  background-image: url(/photos-homeDesktop/bsl2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20rem;
  position: relative;
  top: o;
  bottom: 6rem;
}
.img2sec1 p {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3rem;
  right: 5rem;
}
.img2sec1 p .titleBag {
  font-size: 2.4rem;
}
.img2sec1 p .priceBag {
  opacity: 0.5;
  color: #999;
}
.img2sec1 p .priceBag:hover {
  font-size: 2.5rem;
  color: #f68773;
}
.img2sec1 p a {
  color: black;
}
.img2sec1 p a:hover {
  color: #f68773;
}

.contain2sec {
  width: 100%;
  height: auto;
  background-color: green;
}
.contain2sec .img1sec2 {
  background-image: url(/photos-homeDesktop/bsl3.jpg);
  width: 38rem;
  height: 38rem;
  display: inline-block;
  background-size: contain;
  background-position: center;
  margin-left: 32rem;
  position: relative;
}
.contain2sec .img1sec2 p {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  left: -7rem;
}
.contain2sec .img1sec2 p .titleBag {
  font-size: 2.5rem;
}
.contain2sec .img1sec2 p .priceBag {
  opacity: 0.5;
  color: #999;
}
.contain2sec .img1sec2 p .priceBag:hover {
  font-size: 2.5rem;
  color: #f68773;
}
.contain2sec .img1sec2 p a {
  color: black;
}
.contain2sec .img1sec2 p a:hover {
  color: #f68773;
}

/*# sourceMappingURL=style.css.map */
