@import "variables";


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.navbar{
    height: 10%;
    width: 100%;
    border-bottom:1px solid $colorBannerTop;
    background-color: white;
}
.navbar-brand{
    position: relative;
    left: 5%;
    text-decoration: none;
    color: $blackColor;
    font-weight: bold;
}

.navbar-nav{
    position: relative;
    left: 12%;
    .nav-link{
        color: $blackColor;
        text-decoration: none;
        font-size: .9rem;
    }
}
.d-flex{
    position: relative;
    right: 15%;
    cursor: pointer;
    .form-control{
        border: none;
        font-size: .9rem;
    }
    .btn{   
    position: absolute;
    font-size: 1rem;
    color: $greyColor;
    top:-4px;
    left:100%;
    }
}

.small-icons{
    position: relative;
    right: 5%;
    i{
        font-size: 1rem;
    }
    
}
.boxMenu{
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    
    
    .contLignes{
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: relative;
        
        .lignes{
            width: 60%;
            height: .2rem;
            border-radius: .5rem;
            background-color: $blackColor;
            position: absolute;
            transition: all .5s ease-in-out;
            &:nth-child(1){
                top: 0rem;
            }
        &:nth-child(2){
            top: 0.5rem;
        }
        &:nth-child(3){
            top: 1rem;
        }
        }
    }
}

//debut animation bouton
.btnnn.active {
.lignes{
&:nth-child(1){
    
    transform: translateY(16px)  rotate(135deg);
    
}
&:nth-child(2){
    
    
    opacity: 0;
}
&:nth-child(3){
    
    
    transform: translateY(0rem) rotate(-135deg);
    
    
}
}
}
.menuDefi{
    position: fixed;
    right: 0;
    padding: 0 3rem;
    background-color: $blackColor;
    width: 20%;
    height: 100%;

    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
    transform: translateX(0%);
    -webkit-transform: translateX(100%);
    &.isOpen{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    }
    

    ul{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        

    li{
        margin: 2rem 0;
        list-style-type: none;
        a{
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        text-decoration: none;
        }
    }
    }
}


/*add change hsia*/
.fa-tag {
    @include rotate90;
    transform: rotate(90deg);
}
.pinktext{
    color: $orangeColor;
}
.tags{
    font-size:30px;
}
.bold_title{
    font-weight: 800;
    font-size:17px;
}
.graytext{
    color:$greyColor;
}
.member{
    font-weight:500;
    font-size:20px;
}
.sponsor{
    opacity:50%;
    background-color: rgb(241, 239, 239);
    :hover{
        opacity: 100%;
    }
}

    
.manikin{
    text-align: center;
    padding-top:15%;
    padding-bottom:15%;
    color:white;
}
.workhard{
    font-size: 25px;
}
.nodrama{
    font-size:60px;
    font-weight:900;
}
.playbutton{
    font-size:80px;
}
.line{
    width:50px;
}
img:hover{
    filter:drop-shadow(5px 5px 10px rgb(177, 175, 175));
}
.spin{
    transition-duration: 1s;
    :hover{
        transform: rotate(180deg);
    }
}
#bkgd{
    height:500px;
    background-image: url(/img_about/video-img.jpeg);
    background-position: center; 
    div{
        transition:all 1s;
        color:white;
    }
    div:nth-child(2){
        transition-delay: .3s;
    }
    div:nth-child(3){
        transition-delay: .6s;
    }
    &:hover{
        div{
        color:red;
    }
    }
}


/*pour footer*/
.footer_title{
    font-weight: 600;
}
.footer_items{
    color:$greyColor;
    
}
.grayline{
    color:$greyColor;
}


.credit{
    color:$greyColor;
    text-decoration: none;
    span{
        font-weight: 500;
        transition: all .5s;
        border-bottom: 1px solid;
        font-size: 18px;
    }
    span:nth-child(2){
        transition-delay: .1s;
    }
    span:nth-child(3){
        transition-delay: .2s;
    }
    span:nth-child(4){
        transition-delay: .3s;
    }
    span:nth-child(5){
        transition-delay: .4s;
    }
    span:nth-child(6){
        transition-delay: .5s;
    }
    span:nth-child(7){
        transition-delay: .6s;
    }
    span:nth-child(8){
        transition-delay: .7s;
    }
    span:nth-child(9){
        transition-delay: .8s;
    }
    span:nth-child(10){
        transition-delay: .9s;
    }
    span:nth-child(11){
        transition-delay: 1s;
    }
    span:nth-child(12){
        transition-delay: 1.1s;
    }
    span:nth-child(13){
        transition-delay: 1.2s;
    }
    span:nth-child(14){
        transition-delay: 1.3s;
    }
    span:nth-child(15){
        transition-delay: 1.4s;
    }
    &:hover{
        span{
        font-weight: 700;
        font-size: 23px;
        color:$blackColor;
    }
    
    }
    
    
}
