@import "variables";



*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.navbar{
    height: 10%;
    width: 100%;
    border-bottom:1px solid $colorBannerTop;
    background-color: white;
}
.navbar-brand{
    position: relative;
    left: 5%;
    text-decoration: none;
    color: $blackColor;
    font-weight: bold;
}

.navbar-nav{
    position: relative;
    left: 12%;
    .nav-link{
        color: $blackColor;
        text-decoration: none;
        font-size: .9rem;
    }
}
.d-flex{
    position: relative;
    right: 15%;
    cursor: pointer;
    .form-control{
        border: none;
        font-size: .9rem;
    }
    .btn{   
    position: absolute;
    font-size: 1rem;
    color: $greyColor;
    top:-4px;
    left:100%;
    }
}

.small-icons{
    position: relative;
    right: 5%;
    i{
        font-size: 1rem;
    }
    
}
.boxMenu{
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    
    
    .contLignes{
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: relative;
        
        .lignes{
            width: 60%;
            height: .2rem;
            border-radius: .5rem;
            background-color: $blackColor;
            position: absolute;
            transition: all .5s ease-in-out;
            &:nth-child(1){
                top: 0rem;
            }
        &:nth-child(2){
            top: 0.5rem;
        }
        &:nth-child(3){
            top: 1rem;
        }
        }
    }
}

//debut animation bouton
.btnnn.active {
.lignes{
&:nth-child(1){
    
    transform: translateY(16px)  rotate(135deg);
    
}
&:nth-child(2){
    
    
    opacity: 0;
}
&:nth-child(3){
    
    
    transform: translateY(0rem) rotate(-135deg);
    
    
}
}
}
.menuDefi{
    position: fixed;
    right: 0;
    padding: 0 3rem;
    background-color: $blackColor;
    width: 20%;
    height: 100%;

    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
    transform: translateX(0%);
    -webkit-transform: translateX(100%);
    &.isOpen{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    }
    

    ul{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        

    li{
        margin: 2rem 0;
        list-style-type: none;
        a{
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        text-decoration: none;
        }
    }
    }
}


/*add change hsia */
.arrow{
    font-size: 30px;
}
.home{
    margin-top:7%;
}
.product_title{
    font-size: 30px;
    font-weight: 700;
}
.sku{
    font-size: 10px;
    color:$greyColor;
}
.price{
    font-size: 20px;
    font-weight: 400;
}

.star{
    height: 15px;
}
.descript{
    font-size:15px;
    font-weight:400;
    color:$greyColor;
}

.sm_pic{
    margin-top: 15px;
    
}
.opa{
    opacity: 0.5;
}
.product_pics{
    margin-right:0;
}
.num1{
    margin-left:30%;
    margin-right:30%;
}
.cat_tag{
    font-size:15px;
    font-weight:500;
}
.tags{
    font-size:15px;
    font-weight:400;
}
.middleline{
    font-size: 18px;
    font-weight: 500;
}
.middleline:hover{
    font-weight: 600;
    font-size: 22px;
}
.setting_top{
    margin-top: 100px;
}
.setting_bottom{
    margin-bottom: 100px;
}
.buuutton{
    font-size: 20px;
    border:unset;
    background-color:unset;
    color:$blackColor;    
    }
.buuutton:hover{
    color: $orangeColor;
    }
.buuutton:active{
    border:unset;
    }
.spinnn{
        width: 100%;
        transition: transform 1s;   
    }
.spinnn:hover {
        transform: rotate(540deg);
    } 
.spinnnrv{
    width: 100%;
    transition: transform 1s; 
}
.spinnnrv:hover {
    transform: rotate(-540deg);
}


/*pour footer*/
.footer_title{
    font-weight: 600;
}
.footer_items{
    color:$greyColor;
    
}
.grayline{
    color:$greyColor;
}


.credit{
    color:$greyColor;
    text-decoration: none;
    span{
        font-weight: 500;
        transition: all .5s;
        border-bottom: 1px solid;
        font-size: 18px;
    }
    span:nth-child(2){
        transition-delay: .1s;
    }
    span:nth-child(3){
        transition-delay: .2s;
    }
    span:nth-child(4){
        transition-delay: .3s;
    }
    span:nth-child(5){
        transition-delay: .4s;
    }
    span:nth-child(6){
        transition-delay: .5s;
    }
    span:nth-child(7){
        transition-delay: .6s;
    }
    span:nth-child(8){
        transition-delay: .7s;
    }
    span:nth-child(9){
        transition-delay: .8s;
    }
    span:nth-child(10){
        transition-delay: .9s;
    }
    span:nth-child(11){
        transition-delay: 1s;
    }
    span:nth-child(12){
        transition-delay: 1.1s;
    }
    span:nth-child(13){
        transition-delay: 1.2s;
    }
    span:nth-child(14){
        transition-delay: 1.3s;
    }
    span:nth-child(15){
        transition-delay: 1.4s;
    }
    &:hover{
        span{
        font-weight: 700;
        font-size: 23px;
        color:$blackColor;
    }
    
    }
    
    
}
