* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.navbar {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid #f2ede9;
  background-color: white; }

.navbar-brand {
  position: relative;
  left: 5%;
  text-decoration: none;
  color: #222;
  font-weight: bold; }

.navbar-nav {
  position: relative;
  left: 12%; }
  .navbar-nav .nav-link {
    color: #222;
    text-decoration: none;
    font-size: .9rem; }

.d-flex {
  position: relative;
  right: 15%;
  cursor: pointer; }
  .d-flex .form-control {
    border: none;
    font-size: .9rem; }
  .d-flex .btn {
    position: absolute;
    font-size: 1rem;
    color: #999;
    top: -4px;
    left: 100%; }

.small-icons {
  position: relative;
  right: 5%; }
  .small-icons i {
    font-size: 1rem; }

.boxMenu {
  height: 2rem;
  width: 2rem;
  background-color: transparent; }
  .boxMenu .contLignes {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: relative; }
    .boxMenu .contLignes .lignes {
      width: 60%;
      height: .2rem;
      border-radius: .5rem;
      background-color: #222;
      position: absolute;
      transition: all .5s ease-in-out; }
      .boxMenu .contLignes .lignes:nth-child(1) {
        top: 0rem; }
      .boxMenu .contLignes .lignes:nth-child(2) {
        top: 0.5rem; }
      .boxMenu .contLignes .lignes:nth-child(3) {
        top: 1rem; }

.btnnn.active .lignes:nth-child(1) {
  transform: translateY(16px) rotate(135deg); }

.btnnn.active .lignes:nth-child(2) {
  opacity: 0; }

.btnnn.active .lignes:nth-child(3) {
  transform: translateY(0rem) rotate(-135deg); }

.menuDefi {
  position: fixed;
  right: 0;
  padding: 0 3rem;
  background-color: #222;
  width: 20%;
  height: 100%;
  transition: transform .6s ease-in-out;
  -webkit-transition: transform .6s ease-in-out;
  transform: translateX(0%);
  -webkit-transform: translateX(100%); }
  .menuDefi.isOpen {
    transform: translateX(0%);
    -webkit-transform: translateX(0%); }
  .menuDefi ul {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .menuDefi ul li {
      margin: 2rem 0;
      list-style-type: none; }
      .menuDefi ul li a {
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        text-decoration: none; }

/*add change hsia */
.arrow {
  font-size: 30px; }

.home {
  margin-top: 7%; }

.product_title {
  font-size: 30px;
  font-weight: 700; }

.sku {
  font-size: 10px;
  color: #999; }

.price {
  font-size: 20px;
  font-weight: 400; }

.descript {
  font-size: 15px;
  font-weight: 400;
  color: #999; }

.sm_pic {
  margin-top: 15px; }

.opa {
  opacity: 0.5; }

.product_pics {
  margin-right: 0; }

.num1 {
  margin-left: 30%;
  margin-right: 30%; }

.cat_tag {
  font-size: 15px;
  font-weight: 500; }

.tags {
  font-size: 15px;
  font-weight: 400; }

.middleline {
  font-size: 18px;
  font-weight: 500; }

.middleline:hover {
  font-weight: 600;
  font-size: 22px; }

.setting_top {
  margin-top: 100px; }

.setting_bottom {
  margin-bottom: 100px; }

.buuutton {
  font-size: 20px;
  border: unset;
  background-color: unset;
  color: #222; }

.buuutton:hover {
  color: #f68773; }

.buuutton:active {
  border: unset; }

.spinnn {
  transition: transform 1s; }

.spinnn:hover {
  transform: rotate(540deg); }

.spinnnrv {
  transition: transform 1s; }

.spinnnrv:hover {
  transform: rotate(-540deg); }

/*pour footer*/
.footer_title {
  font-weight: 600; }

.footer_items {
  color: #999; }

.grayline {
  color: #999; }

/*# sourceMappingURL=style.css.map */