@media (min-width: 481px) and (max-width: 768px) {
    .grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: .3fr .5fr .5fr;
        grid-template-rows: 0.4fr .4fr .5fr .5fr .5fr 1fr .2fr .5fr .5fr .7fr .5fr .2fr;
        gap: 0px 0px;
        grid-template-areas:
        ". . . "
        ". . . "
        ". . . "
        ". . . "
        ". . . "
        ". . . "
        ". . . "
        ". . . "
        ". . . "
        ". . . "
        ". . . "
        ". . . ";
        }
        
        .active-filters{
            grid-row: 8;
            grid-column: 1;
            padding-left: 1.8rem;
            font-size: 2.5rem;
        }
        .categories{
            grid-row: 9;
            grid-column: 1;
            padding-left: 1.8rem;
            
        }
        .filter-price{
            grid-row: 10;
            grid-column: 1;
            padding-left: 2.5rem;            
        }
        .filter-bar{
            width: 20rem;
            position: absolute;
        }
        .price{
            position: relative;
            bottom: -30px;
        }
        .color-list{
            grid-row:11;
            grid-column: 1;
            padding-left: 1.8rem;
            .checkmark{
                position: absolute;
                left: 100%;
                height: 15px;
                width: 15px;
            }
        }
        .product-sample{
            grid-row: 12;
            grid-column: 1;
            padding-left: 1.8rem;
            .i-img{
                height: 100px;  
                width: 100px;
                }   
            .sample-content, p, img, p{
                margin-left: 1.4rem;
            }
        }
    .grid-shop{
        grid-row: 2;
        grid-column: 1;
        margin-left: 2.5rem;
        margin-bottom: 2rem;
        .shop-home {
            align-self:flex-start;
        }
    }
    .grid-products{
        grid-row: 2;
        grid-column: 3;
        align-self: center;
        padding-left: 1.5rem;
        padding-top: 1.6rem; 
        .fa-th, .fa-list-ul{
            opacity: 0;
        }
    }
    .product-found{
        grid-row: 2;
        grid-column: 1;
        margin-left: 2.7rem;
        margin-top: 5rem;
        .product-text{
            opacity: 0;
        }
    }
    .card-01{
        grid-row: 3;
        grid-column: 1;
    }
    .card-02{
        grid-row: 3;
        grid-column: 2;
    }
    .card-03{
        grid-row: 3;
        grid-column: 3;
    }
    .card-04{
        grid-row: 4;
        grid-column: 1;
    }
    .card-05{
        grid-row: 4;
        grid-column: 2;
    }
    .card-06{
        grid-row: 4;
        grid-column: 3;
    }
    .card-07{
        grid-row: 5;
        grid-column: 1;
    }
    .card-08{
        grid-row: 5;
        grid-column: 2;
    }
    .card-09{
        grid-row: 5;
        grid-column: 3;
    }
    .card-10{
        grid-row: 6;
        grid-column: 1;
    }
    .card-11{
        grid-row: 6;
        grid-column: 2;
    }
    .card-12{
        grid-row: 6;
        grid-column: 3;
    }
    .discover-grid{
        grid-row: 7;
        grid-column: 2;
        text-align: center;
        font-size: 2rem;
    }

}