
$color-primary: #F2EDE9 ;
$color-secondary: #999;
$color-black: black;
$color-white:white;
$color-orange: #f68773;

 //<i class="lni lni-twitter-original"></i>
 //<i class="lni lni-facebook-filled"></i>
 //<i class="lni lni-google"></i>
 //<i class="lni lni-pinterest"></i>