@import "variables";

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    height: 10%;
    width: 100%;
    border-bottom:1px solid $colorBannerTop;
}
.navbar-brand{
    position: relative;
    left: 5%;
    text-decoration: none;
    color: $blackColor;
    font-weight: bold;
}

.navbar-nav{
    position: relative;
    left: 12%;
    .nav-link{
        color: $blackColor;
        text-decoration: none;
        font-size: .9rem;
    }
}
.d-flex{
    position: relative;
    right: 15%;
    cursor: pointer;
    .form-control{
        border: none;
        font-size: .9rem;
    }
    .btn{   
    position: absolute;
    font-size: 1rem;
    color: $greyColor;
    top:-4px;
    left:100%;
    }
}

.small-icons{
    position: relative;
    right: 5%;
    i{
        font-size: 1rem;
    }
    
}

/*add change hsia*/
.arrow{
    font-size: 30px;
}
.home{
    margin-top:7%;
}
.product_title{
    font-size: 30px;
    font-weight: 700;
}
.sku{
    font-size: 10px;
    color:$greyColor;
}
.price{
    font-size: 20px;
    font-weight: 400;

}
.descript{
    font-size:15px;
    font-weight:400;
    color:$greyColor;
}

.sm_pic{
    margin-top: 15px;
    
}
.opa{
    opacity: 0.5;
}
.product_pics{
    margin-right:110px;
}

