@import "variables";

/* Use a media query to add a break point at 800px: */

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 0.5fr .4fr 1fr 1fr 1fr .2fr .2fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
    }

.active-filters{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}
.filter-title1{
    font-weight: bold;
    font-size: 1.5rem; 
}
.list-filters{
    list-style: none;
    color: $greyColor;
    font-size: .9rem;
    margin-left: -2em;
    line-height: 25px;
}

.grid-shop{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    margin-left: 1.5em;
    h2{
        font-weight: bold;
        font-size: 2.5rem;
    }
    p{
        font-size: .9rem;
        margin-bottom: 3rem;
    .shop-home{
        font-size: .9rem;
        color: $greyColor;
        word-spacing: .5em;
        }
    }
}

.products{
    color: $blackColor;
    font-size: .9rem;
    .product-content, .product-content1{
        font-size: .9rem;
        color: $greyColor; 
    }
}
.product-found{
    display: grid;
    grid-row: 2;
    grid-column: 4;
    align-self: center;
    .product-text{
        word-spacing: 10px;
    }
}

.fa-circle{
    font-size: .4rem;
}

.grid-products{
    display: grid;
    grid-column: 5;
    grid-row: 2;
    align-self: center;
    margin-bottom: 1.18rem;
}

.fa-chevron-down{
    font-size: .6rem;
    color: $greyColor;
}
.text{
    word-spacing: 10px;
    font-size: .9rem;
}
.fa-th{
    font-size: 1.2rem;
    color: $greyColor;
    margin-left: 1.8rem;
}
.fa-list-ul{
    font-size: 1.1rem;
    color: $greyColor;
}

.categories{
    display: grid;
    grid-column: 2;
    grid-row: 3;   
}
.cat-title{
    font-weight: bold;
    font-size: 1.5rem;  
}
.shop-items{
    list-style: none;
    color: $greyColor;
    line-height: 30px;
    padding-left: .5rem;   
}

.filter-price{
    display: grid;
    grid-row: 4;
    grid-column: 2;
}
.filter-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.filter-bar{
    width: 18rem;
    margin-left: -2rem;
}

.price{
color: $greyColor;
font-size: .9rem;
}
.color-list{
    display: grid;
    grid-column: 2;
    grid-row:5;
}

.sort-list{
    position: relative;
    bottom: 200px;
}
.container {
    display: block;
    padding-left: 25px;
    position: relative;
    bottom: 8px;
    right: 10px;
    cursor: pointer;
    font-size: .9rem;
    color: $greyColor;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; 
    }
}
.checkmark {
    position: absolute;
    left: 70%;
    height: 13px;
    width: 13px;
    border:0.1px solid rgb(173, 173, 173);
    background-color: white;
}

.container:hover input ~ .checkmark {
    background-color: rgb(156, 156, 156);
}  

.container input:checked ~ .checkmark {
    background-color: white;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 8px;
    border: solid $blackColor;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.l-black{
    color: $blackColor;
    font-size: 2.5rem;
}
.l-blue{
    color: #70849D;
    font-size: 2.5rem;
}
.l-gold{
    color: #cc9a28;
    font-size: 2.5rem;
}
.l-nude{
    color: #CFA58F;
    font-size: 2.5rem;
}
.l-orange{
    color: #CC672A;
    font-size: 2.5rem;
}
.l-red{
    color: #9A261E;
    font-size: 2.5rem;
}

.size-text{
    margin-top: 2em;
    margin-left: -2em;
}
.product-sample{
    display: grid;
    grid-row: 6;
    grid-column: 2;
}
.product-title{ 
    position: relative;
    bottom: 180px;
}
.pro-text{
font-size: 1.5rem;
font-weight: bold;
}
.img-container-2{
    position: relative;
    bottom: 25px;
}
.img-container-3{
    position: relative;
    bottom: 50px;
}


.i-img{
    height: 70px;
    width: 70px;
}
.sample-content{
position: relative;
left: 90px;
bottom: 70px;   
}
.star-rate{
    position: absolute;
    bottom: -45px;

}  

.num-prise{
    position: absolute;
    bottom: -60px;
    font-size: .8rem;
    color: $greyColor;
}

