* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.navbar {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid #f2ede9; }

.navbar-brand {
  position: relative;
  left: 5%;
  text-decoration: none;
  color: #222;
  font-weight: bold; }

.navbar-nav {
  position: relative;
  left: 12%; }
  .navbar-nav .nav-link {
    color: #222;
    text-decoration: none;
    font-size: .9rem; }

.d-flex {
  position: absolute;
  right: 340px;
  cursor: pointer; }
  .d-flex .form-control {
    border: none;
    font-size: .9rem; }
  .d-flex .btn {
    position: absolute;
    font-size: 1rem;
    color: #999;
    top: -4px;
    left: 100%; }

.small-icons {
  position: absolute;
  right: 100px; }
  .small-icons i {
    font-size: 1rem; }

.container1 {
  margin-top: 130px; }

.ant-01 {
  background-image: url("../../img-contact/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.container2 {
  height: 38vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container2 h2 {
    font-size: 3.5rem; }
  .container2 p {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: flex-end;
    margin-left: -10rem;
    font-size: 1.3rem; }

.shop-home {
  color: #999;
  font-size: 1.3rem; }

.fa-circle {
  font-size: .4rem;
  word-spacing: 30px;
  margin-right: .5rem; }

.fa-facebook-f, .fa-twitter, .fa-google-plus-g, .fa-linkedin-in, .fa-instagram {
  font-size: 1.5rem;
  color: #494949;
  margin: 20px; }

.fab:hover {
  transition: 1s;
  transform: scale(2, 2); }

.title-office {
  font-size: 1.7rem;
  font-weight: bold; }

.address-office {
  font-size: 1.2rem;
  color: #999; }

.touch-title {
  font-size: 1.7rem;
  font-weight: bold; }

.phone {
  font-size: .9rem; }

.num {
  font-size: 1.1rem;
  color: #999;
  line-height: 1px; }

.email {
  margin-top: 40px;
  line-height: 1px;
  font-size: .9rem; }

.email-address {
  color: #999; }

.store-add {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem; }

.location {
  font-size: .9rem;
  margin-left: 1rem; }

.lolaire {
  color: #999;
  font-size: .8rem;
  margin-bottom: 40px;
  line-height: 20px;
  margin-left: 1rem; }

.store-num {
  font-size: .9rem;
  margin-left: 1rem; }

.num-1 {
  color: #999;
  font-size: .9rem;
  margin-bottom: 40px;
  line-height: 10px;
  margin-left: 1rem; }

.store-email {
  font-size: .9rem;
  margin-left: 1rem; }

.email-1 {
  color: #999;
  font-size: .9rem;
  margin-bottom: 40px;
  line-height: 10px;
  margin-left: 1rem; }

/*pour footer*/
.footer_title {
  font-weight: 600; }

.footer_items {
  color: #999; }

.grayline {
  color: #999; }

.credit {
  color: #999;
  text-decoration: none; }
  .credit span {
    font-weight: 500;
    transition: all .5s;
    border-bottom: 1px solid;
    font-size: 18px; }
  .credit span:nth-child(2) {
    transition-delay: .1s; }
  .credit span:nth-child(3) {
    transition-delay: .2s; }
  .credit span:nth-child(4) {
    transition-delay: .3s; }
  .credit span:nth-child(5) {
    transition-delay: .4s; }
  .credit span:nth-child(6) {
    transition-delay: .5s; }
  .credit span:nth-child(7) {
    transition-delay: .6s; }
  .credit span:nth-child(8) {
    transition-delay: .7s; }
  .credit span:nth-child(9) {
    transition-delay: .8s; }
  .credit span:nth-child(10) {
    transition-delay: .9s; }
  .credit span:nth-child(11) {
    transition-delay: 1s; }
  .credit span:nth-child(12) {
    transition-delay: 1.1s; }
  .credit span:nth-child(13) {
    transition-delay: 1.2s; }
  .credit span:nth-child(14) {
    transition-delay: 1.3s; }
  .credit span:nth-child(15) {
    transition-delay: 1.4s; }
  .credit:hover span {
    font-weight: 700;
    font-size: 23px;
    color: #222; }

.boxMenu {
  height: 2rem;
  width: 2rem;
  background-color: transparent; }
  .boxMenu .contLignes {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: relative; }
    .boxMenu .contLignes .lignes {
      width: 60%;
      height: .2rem;
      border-radius: .5rem;
      background-color: black;
      position: absolute;
      transition: all .5s ease-in-out; }
      .boxMenu .contLignes .lignes:nth-child(1) {
        top: 0rem; }
      .boxMenu .contLignes .lignes:nth-child(2) {
        top: 0.5rem; }
      .boxMenu .contLignes .lignes:nth-child(3) {
        top: 1rem; }

.btnnn.active .lignes:nth-child(1) {
  transform: translateY(15px) rotate(135deg); }

.btnnn.active .lignes:nth-child(2) {
  opacity: 0; }

.btnnn.active .lignes:nth-child(3) {
  transform: translateY(0rem) rotate(-135deg); }

.menuDefi {
  position: fixed;
  right: 0;
  padding: 0 3rem;
  background-color: black;
  width: 20%;
  height: 100%;
  transition: transform .6s ease-in-out;
  -webkit-transition: transform .6s ease-in-out;
  transform: translateX(1000%);
  -webkit-transform: translateX(100%); }
  .menuDefi.isOpen {
    transform: translateX(0%);
    -webkit-transform: translateX(0%); }
  .menuDefi ul {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .menuDefi ul li {
      margin: 2rem 0;
      list-style-type: none; }
      .menuDefi ul li a {
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */